@model LessonAddUpdatePageVM
@{
    ViewBag.Title = "UpdateLesson";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm("UpdateLesson","Lesson"))
{
 @Html.HiddenFor(x=> x.Lesson.ID)
    <div>
        @Html.TextBoxFor(x=>x.Lesson.LessonName)
    </div>
    <div>
        <button class="btn btn-primary">
            Güncelle
        </button>
    </div>
}

